<% include header %>

	<div>

		<p>
			<b>Admin View</b> 
			Index to related links.
		</p>

		<div class="label-btn" style="width: 100px; font-size: 1em; margin-right: 10px; float: left">
			<a href="/admin/signup">Sign Up</a>
		</div>

		<div class="label-btn" style="width: 100px; font-size: 1em; margin-right: 10px; float: left">
			<a href="/admin/login">Login</a>
		</div>
		
		<br>
	
	</div>
				
<% include footer %>