<% include header %>

	<form method="post">
		<b>Create a new entry</b>

		<small class="details" style="float: right;">
			 <span class="starred">*</span> Required
		</small>

		<table>

			<tr>
				<td>
					<br>Name
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">First <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="text" name="first" placeholder="First" required>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Middle (optional)</span>
				</td>
				<td>
					<input type="text" name="middle" placeholder="Middle (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Last <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="text" name="last" placeholder="Last" required>
				</td> 
			</tr>

			<tr>
				<td>
					<br>Details
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">Gender</span>
				</td>
				<td>
					<select name="gender">
						<option value="" selected disabled>Gender (optional)</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
						<option value="O">Other</option>
					</select>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">DOB Year <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="number" name="year" min="1900" max="2016" placeholder="1920" required>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">DOB Month <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="number" name="month" min="1" max="12" placeholder="1" required>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">DOB Day <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="number" name="day" min="1" max="31" placeholder="1" required>
				</td> 
			</tr>

			<tr>
				<td>
					<br>Contact
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">Phone</span>
				</td>
				<td>
					<input type="text" name="phone" placeholder="Phone (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Email</span>
				</td>
				<td>
					<input type="text" name="email" placeholder="Email (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Address</span>
				</td>
				<td>
					<input type="text" name="address" placeholder="Address (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<br>Offense
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">Charge Level</span>
				</td>
				<td>
					<select name="charge_lvl">
						<option value="" selected disabled>Charge Level (optional)</option>
						<option value="MC">MC</option>
						<option value="MB">MB</option>
						<option value="MA">MA</option>
						<option value="F1">F1</option>
						<option value="F2">F2</option>
						<option value="F3">F3</option>
					</select>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Offense 1</span>
				</td>
				<td>
					<input type="text" name="offense_1" placeholder="Offense 1 (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Offense 2</span>
				</td>
				<td>
					<input type="text" name="offense_2" placeholder="Offense 2 (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Offense 3</span>
				</td>
				<td>
					<input type="text" name="offense_3" placeholder="Offense 3 (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<br>Identifiers
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">Warrant <span class="starred">*</span> </span>
				</td>
				<td>
					<input type="checkbox" name="warrant" value="true" style="width: auto;"> <span class="details">(check if warrant exists)</span>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Case Number</span>
				</td>
				<td>
					<input type="text" name="case_num" placeholder="Case Number (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">OTN</span>
				</td>
				<td>
					<input type="text" name="otn" placeholder="OTN (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">SO</span>
				</td>
				<td>
					<input type="text" name="so" placeholder="SO (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<br>Officer
				</td>
			</tr>

			<tr>
				<td>
					<span class="details">Officer ID</span>
				</td>
				<td>
					<input type="text" name="officer_id" placeholder="Officer ID (optional)">
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Police Department <span class="starred">*</span> </span>
				</td>
				<td>
					<select name="police_dept" required>
						<option value="" selected disabled>Police Department</option>
						<option value="Airport">Airport Police</option>
						<option value="Adult Probation & Parole (AP&P)">Adult Probation & Parole (AP&P)</option>
						<option value="Bluffdale">Bluffdale</option>
						<option value="Cottonwood Heights">Cottonwood Heights</option>
						<option value="Draper">Draper</option>
						<option value="Granite School District">Granite School District Police</option>
						<option value="Metro Narcotics">Metro Narcotics</option>
						<option value="Murray">Murray</option>
						<option value="Salt Lake City">Salt Lake City</option>
						<option value="Salt Lake County Sheriff">Salt Lake County Sheriff</option>
						<option value="Sandy">Sandy</option>
						<option value="SL County Constable">SL County Constable</option>
						<option value="South Jordan">South Jordan</option>
						<option value="South Salt Lake">South Salt Lake</option>
						<option value="UHP">Utah Highway Patrol (UHP)</option>
						<option value="Unified">Unified</option>
						<option value="UTA">Utah Transit Authority Police (UTA)</option>
						<option value="University of Utah">University of Utah Police</option>
						<option value="West Jordan">West Jordan</option>
						<option value="West Valley City">West Valley City</option>
						<option value="Other">Other</option>
					</select>
				</td> 
			</tr>

			<tr>
				<td>
					<span class="details">Additional Notes</span>
				</td>
				<td>
					<input type="text" name="notes" placeholder="Additional Notes (optional)">
				</td> 
			</tr>

		</table>

		<input type="submit" class="submit_btn" value="Submit">

	</form>
	
<% include footer %>