
		<div class="details" style="margin-top: 20px; margin-bottom: 20px;">

			<small>
				<p>
					<span>
						<a href="/admin">Admin Login</a> 
					</span>

					<span style="float: right">
						© 2016 Code for America
						<a href="mailto:kuan@codeforamerica.org?subject=CJS-INTAKE-FORM-SITE-CONTACT">Contact Us</a> 
					</span>
				</p>
			</small>

		</div>
		
	</body>

	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74523546-1', 'auto');
		ga('send', 'pageview');
		console.log("GA OK");
	</script>

</html>