
		<div class="details" style="margin-top: 20px; margin-bottom: 20px;">

			<small>
				<p>
					<span>
						<a href="/admin">Admin Login</a> 
					</span>

					<span style="float: right">
						© 2016 Code for America
						<a href="mailto:kuan@codeforamerica.org?subject=CJS-INTAKE-FORM-SITE-CONTACT">Contact Us</a> 
					</span>
				</p>
			</small>

		</div>
		
	</body>

</html>