<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>SLCo Intake Submission Form</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
		}
		table {
			width: 100%;
		}
		table input {
			width: 100%;
		}
		.cjs table, .cjs th, .cjs td {
			font-size: 10pt;
		  border: 1px solid #dbdbdb;
		  border-collapse: collapse;
		}
		.cjs th, .cjs td {
			padding: 3px;
		}
		.cjs th {
			background-color: #e4e4e4;
		}
		.col_frame {
			max-width: 420px;
			padding: 15px;
			box-shadow: -70px 0px 50px -90px #000000, 70px 0px 50px -90px #000000;
			margin: auto;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 50px;
		}
		.label-btn {
			padding: 3px;
			background-color: #33C3F0;
			font-size: 0.3em;
			color: #FFF;
			border-radius: 3px;
			cursor: pointer;
			text-align: center;
			text-transform: uppercase;
		}
		.label-btn:hover {
			-ms-transform: scale(1.1,1.1); /* IE 9 */
			-webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
			transform: scale(1.1,1.1);
		}
		.label-btn a {
			color: #FFF;
			text-decoration: none;
		}
		.head {
			font-size: 1.5em;
		}
		.bar {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			border-top: 1px solid rgba(0,0,0,0.25)
		}
		.details { 
			color: rgba(0,0,0,0.5);
			font-size: 8pt;
		}
		.progress_bar {
			height: 15px;
			background-color: #e9e9e9;
			border-radius: 3px;
			margin-bottom: 5px;
			box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.15);
		}
		.progress_bar div {
			background-color: #329732;
			opacity: 0.5;
			box-shadow: inset 0px 0px 5px 3px rgba(255,255,255,0.05);
		}
		.starred {
			color: #FF0000;
			font-weight: 900;
		}
		.submit_btn {
			cursor: pointer;
			margin-top: 10px;
			padding: 10px;
			width: 100%;
			letter-spacing: 2px;
			border: 0px;
			border-radius: 2px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			background-color: #33C3F0;
			font-weight: 500;
			font-size: 10pt;
			text-transform: uppercase;
			color: #FFF;
		}
	</style>

	<body>
		<div class="col_frame">

			<% if (typeof admin == "undefined") { %>
				<div class="label-btn" style="float: right;">
					<a href="/">Home</a>
				</div>
			<% } else { %>
				<div class="label-btn" style="float: right; background-color: red">
					<a href="/admin/logout">Logout</a>
				</div>
			<% } %>

			<div class="head">
				<b>CJS Intake Form</b>
				<br>
				<span class="details">
					Must be within Salt Lake County Sheriff's jurisdiction.
				</span>
			</div>

			<div class="bar"></div>