<!DOCTYPE HTML>
<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	  <title>CJS Intake Submission Form</title>
	</head>

	<style>
		body {
			font-family: arial, sans-serif;
		}
		table {
			width: 100%;
		}
		table input {
			width: 100%;
		}
		.col_frame {
			max-width: 420px;
			padding: 15px;
			box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
			margin: auto;
		}
		.head {
			font-size: 1.5em;
		}
		.bar {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 10px;
			border-top: 1px solid rgba(0,0,0,0.25)
		}
		.details { 
			color: rgba(0,0,0,0.5);
			font-size: 8pt;
		}
		.submit_btn {
			margin-top: 10px;
			padding: 10px;
			width: 100%;
			letter-spacing: 2px;
			border: 0px;
			border-radius: 2px;
			border-bottom-right-radius: 100%;
			border-bottom-left-radius: 100%;
			background-color: #33C3F0;
			font-weight: 500;
			font-size: 10pt;
			text-transform: uppercase;
			color: #FFF;
		}
	</style>

	<body>
		<div class="col_frame">

			<div class="head">
				<b>CJS Intake Form</b>
				<br>
				<span class="details">
					Must be a <u>DISTRICT COURT CASE</u> only from West Jordan or Salt Lake District Court.
				</span>
			</div>

			<div class="bar"></div>