<% include header %>

	<div>
		<p>
			<b>Purpose</b> 
			This application will record any arrest in which the suspect could not be physically booked into the Salt Lake County Jail as a result of current population restrictions.
		</p>
		<center>
			<a href="/new_entry"><button class="submit_btn">Create New Entry</button></a>
		</center>
	</div>
				
<% include footer %>