<% include header %>

	<div>
		<p>
			<b>System Purpose</b> 
			Enable officers to register an offender into Criminal Justice Service's Pretrial regardless of County Jail crowding level.
		</p>
		<center>
			<a href="/new_entry"><button class="submit_btn">Create New Entry</button></a>
		</center>
	</div>
				
<% include footer %>