<% include header %>

	<div>
		<p>
			<b>Purpose</b> 
			Enable officers to refer an individual to Criminal Justice Service's Pretrial program.
		</p>
		<center>
			<a href="/new_entry"><button class="submit_btn">Create New Entry</button></a>
		</center>
	</div>
				
<% include footer %>