<% include header %>

	<div>

		<p>
			Welcome, <%= admin.name %>.
		</p>

		<% if (admin.super) { %>
			<p>
				This is a super user account and has the following special capabilities:
			</p>

			<ul>
				<li><a href="/admin/signup">Create users with permissions</a></li>
			</ul>
		<% } %>

		<% if (admin.cjs || admin.jail || admin.super) { %>
			<p>
				You <% if (admin.super) { %>also have<% } %> have access to the following:
			</p>

			<ul>
				<% if (admin.cjs || admin.super) { %>
					<li><a href="/admin/cjs">CJS Intake Management</a></li>
					<% if (typeof cjs_stats !== "undefined" && Number(cjs_stats.all) > 0) { %>
						<span class="details">Percentage of intakes processed</span>
						<div class="progress_bar">
							<% var pct = Number(cjs_stats.done)/Number(cjs_stats.all)*100 %>
							<div class="progress_bar" style="width: <%= pct %>%;">
								<span class="details" style="color: #FFF; padding-right: 3px; padding-top: 1px; float: right;"><%= Math.round(pct) %>%</span>
							</div>
						</div>
					<% } %>
				<% } %>
				<% if (admin.jail || admin.super) { %>
					<li>Jail Controls (Coming Soon)</li>
				<% } %>
			</ul>

		<% } else { %>
			Warning: This account has no permissions.
		<% } %>

	</div>
				
<% include footer %>