<% include header %>

	<div>

		<p>
			Welcome, <%= admin.name %>.
		</p>

		<% if (admin.super) { %>
			<p>
				This is a super user account and has the following special capabilities:
			</p>

			<ul>
				<li>Foobar</li>
			</ul>
		<% } %>

		<% if (admin.cjs || admin.jail || admin.super) { %>
			<p>
				You <% if (admin.super) { %>also have<% } %> have access to the following:
			</p>

			<ul>
				<% if (admin.cjs || admin.super) { %>
					<li><a href="/admin/cjs">CJS Intake Management</a></li>
				<% } %>
				<% if (admin.jail || admin.super) { %>
					<li>Jail Controls (Coming Soon)</li>
				<% } %>
			</ul>

		<% } else { %>
			Warning: This account has no permissions.
		<% } %>

	</div>
				
<% include footer %>